[user]
        name = yuichisugio
        email = yuichisugio@users.noreply.github.com
[core]
        editor = code
        filemode = true
        hooksPath = ~/.git_template/hooks
[color]
        ui = true
[alias]
        a = add -p
        an = add -N
        c = commit
        ci = commit --allow-empty -m 'initial commit'
        p = push
        ph = push origin HEAD
        m = merge
        mm = "!git merge $(git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@')"
        f = fetch origin
        s = status
        d = diff
        l = log
        co = checkout
        cb = checkout -b
        cm = "!git checkout $(git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@')"
        pl = "!git pull origin $(git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@')"
        w = worktree
        wb = "!f() { WORKTREE_PATH=../$(basename $(pwd))-${1}; git worktree add $WORKTREE_PATH $2; }; f"
        wd = worktree remove .
[push]
        default = simple
	autoSetupRemote = true
[pull]
        rebase = true
	default = current
[branch]
        autoSetupRebase = always
[submodule]
        recurse = true
[url "git@github.com:"]
        pushInsteadOf = https://github.com/
        pushInsteadOf = git://github.com/
	insteadOf = https://github.com/
[url "git@gist.github.com:"]
        pushInsteadOf = https://gist.github.com/
        pushInsteadOf = git://gist.github.com/
[init]
        defaultBranch = main

